<div ng-controller="GfxCtrl" ng-init="hide = 'hidden'" ng-cloak>
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
  <svg version="1.1" id="Flags" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 600 1055" enable-background="new 0 0 600 1055" xml:space="preserve">
  <rect y="0" fill="none" width="600" height="1055"/>
  <!-- <g>
  	<rect x="23.8" y="23.6" fill="none" width="565.9" height="286"/>
  	<text transform="matrix(1 0 0 1 23.8163 39.2316)"><tspan x="0" y="0" font-family="'Metric-Regular'" font-size="24">Some countries are not members of the EU, but are entitled </tspan><tspan x="0" y="28.8" font-family="'Metric-Regular'" font-size="24">to participate in the EU’s single market through their </tspan><tspan x="0" y="57.6" font-family="'Metric-Regular'" font-size="24">membership of the European Free Trade Association (EFTA)</tspan></text>
  </g> -->
  <ellipse fill="none" stroke="#385DAB" stroke-width="3" stroke-miterlimit="10" cx="94.4" cy="496.3" rx="87.8" ry="38.9"/>
  <rect x="79.9" y="218.1" fill="none" width="102.6" height="268.6"/>
  <text transform="matrix(1 0 0 1 86.5257 231.0583)"><tspan x="0" y="0" fill="#385DAB" font-family="'Metric-Semibold'" font-size="20">Agreement </tspan><tspan x="3.3" y="24" fill="#385DAB" font-family="'Metric-Semibold'" font-size="20">with EU to </tspan><tspan x="1.6" y="48" fill="#385DAB" font-family="'Metric-Semibold'" font-size="20">mint Euros</tspan></text>
  <rect x="-328.2" y="604.2" fill="none" width="174" height="85"/>
  <text transform="matrix(1 0 0 1 295.2494 168.7524)" fill="#4D358D" font-family="'Metric-Semibold'" font-size="23.052">EEA</text>
  <path fill="none" stroke="#4D358D" stroke-width="3" stroke-miterlimit="10" d="M196.9,789.8v74.5c0,24.3,19.7,44.1,44.1,44.1h232.6
  	c24.3,0,44.1-19.7,44.1-44.1v-74.5v-14.5V246.6v-56.4c0-24.3-19.7-44.1-44.1-44.1H240.9c-24.3,0-44.1,19.7-44.1,44.1v56.4v528.7
  	V789.8z"/>
  <rect x="825.5" y="135.2" fill="none" width="320" height="667"/>
  <path fill="none" stroke="#7F675F" stroke-width="3" stroke-miterlimit="10" d="M72.4,760.7V320.1v-58.7v-40.6
  	c0-24.3,19.7-44.1,44.1-44.1h271.4c24.3,0,44.1,19.7,44.1,44.1v40.6v58.7v440.6v14.5v74.5c0,24.3-19.7,44.1-44.1,44.1H116.4
  	c-24.3,0-44.1-19.7-44.1-44.1v-74.5V760.7z"/>
  <text transform="matrix(1 0 0 1 232.7562 199.9473)" fill="#7F675F" font-family="'Metric-Semibold'" font-size="23.052">EU customs union</text>
  <path fill="none" stroke="#37A257" stroke-width="3" stroke-miterlimit="10" d="M211.7,437.6c0-16.2,13.2-29.4,29.4-29.4h58.6h14.7
  	c16.2,0,29.4-13.2,29.4-29.4s13.2-29.4,29.4-29.4h14.7c16.2,0,29.4,13.2,29.4,29.4v58.8v240.8v23.9v22.6c0,16.2-13.2,29.4-29.4,29.4
  	H240.9c-16.2,0-29.4-13.2-29.4-29.4v-22.6v-44.5V496.3L211.7,437.6z"/>
  <text transform="matrix(1 0 0 1 276.3724 650.3066)" fill="#37A257" font-family="'Metric-Semibold'" font-size="23.052">Eurozone</text>
  <rect x="835.5" y="360.2" fill="none" width="207" height="361"/>
  <text transform="matrix(1 0 0 1 153.0653 834.5869)"><tspan x="0" y="0" fill="#DE2F2F" font-family="'Metric-Semibold'" font-size="23.052">Schengen</tspan><tspan x="24.3" y="28.7" fill="#DE2F2F" font-family="'Metric-Semibold'" font-size="23.052">area</tspan></text>
  <path fill="none" stroke="#DE2F2F" stroke-width="3" stroke-miterlimit="10" d="M130.8,775.1v74.5c0,16.2,13.2,29.4,29.4,29.4h95.4
  	c16.2,0,29.4-13.2,29.4-29.4v-30.2v-88.1c0-16.2,13.2-29.4,29.4-29.4h237.6c16.2,0,29.4-13.2,29.4-29.4l0,0V320.1
  	c0-16.2-13.2-29.4-29.4-29.4H160.2c-16.2,0-29.4,13.2-29.4,29.4v249.7V775.1z"/>
  <path fill="none" stroke="#00A1E8" stroke-width="3" stroke-miterlimit="10" d="M226.2,790c0,16.2,13.2,29.4,29.4,29.4h117.5
  	c16.2,0,29.4-13.2,29.4-29.4v-58.7v-470v-24.8c0-16.2-13.2-29.4-29.4-29.4H255.6c-16.2,0-29.4,13.2-29.4,29.4v24.8v470V790z"/>
  <text transform="matrix(1 0 0 1 301.3929 238.7456)" fill="#00A1E8" font-family="'Metric-Semibold'" font-size="23.052">EU</text>
  <rect x="852.5" y="189.2" fill="none" width="186" height="498"/>
  <g>
  	<ellipse fill="none" stroke="#E86C23" stroke-width="3" stroke-miterlimit="10" cx="504.1" cy="496.3" rx="62.5" ry="120.9"/>
  	<text transform="matrix(1 0 0 1 477.8334 589.4248)" fill="#E86C23" font-family="'Metric-Semibold'" font-size="23.052">EFTA</text>
  	<circle fill="#908D8B" cx="546" cy="496.3" r="14.7" class="country" ng-style="group1" ng-mouseenter="group1 = { fill: '#9e2f50' }" ng-mouseleave="group1 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="468.6" cy="496.3" r="14.7" class="country" ng-style="group2" ng-mouseenter="group2 = { fill: '#9e2f50' }" ng-mouseleave="group2 = {}" ng-click="isGroupN()"/>
  	<g>
  		<circle fill="#908D8B" cx="495.6" cy="549.1" r="14.7" class="country" ng-style="group2" ng-mouseenter="group2 = { fill: '#9e2f50' }" ng-mouseleave="group2 = {}" ng-click="isGroupN()"/>
  		<circle fill="#908D8B" cx="495.6" cy="443.5" r="14.7" class="country" ng-style="group2" ng-mouseenter="group2 = { fill: '#9e2f50' }" ng-mouseleave="group2 = {}" ng-click="isGroupN()"/>
  	</g>
  </g>
  <circle fill="#908D8B" cx="101.7" cy="437.6" r="14.7" class="country" ng-style="group3" ng-mouseenter="group3 = { fill: '#9e2f50' }" ng-mouseleave="group3 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="101.7" cy="496.3" r="14.7" class="country" ng-style="group4" ng-mouseenter="group4 = { fill: '#9e2f50' }" ng-mouseleave="group4 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="101.7" cy="555.1" r="14.7" class="country" ng-style="group3" ng-mouseenter="group3 = { fill: '#9e2f50' }" ng-mouseleave="group3 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="160.2" cy="496.3" r="14.7" class="country" ng-style="group4" ng-mouseenter="group4 = { fill: '#9e2f50' }" ng-mouseleave="group4 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="28.9" cy="496.3" r="14.7" class="country" ng-style="group4" ng-mouseenter="group4 = { fill: '#9e2f50' }" ng-mouseleave="group4 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="373.1" cy="672.6" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="373.1" cy="731.3" r="14.7" class="country" ng-style="group6" ng-mouseenter="group6 = { fill: '#9e2f50' }" ng-mouseleave="group6 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="373.1" cy="613.8" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="373.1" cy="555.1" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="373.1" cy="437.6" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="373.1" cy="378.8" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="373.1" cy="320.1" r="14.7" class="country" ng-style="group7" ng-mouseenter="group7 = { fill: '#9e2f50' }" ng-mouseleave="group7 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="373.1" cy="261.3" r="14.7" class="country" ng-style="group8" ng-mouseenter="group8 = { fill: '#9e2f50' }" ng-mouseleave="group8 = {}" ng-click="isGroup8()"/>
  <circle fill="#908D8B" cx="255.6" cy="731.3" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="255.6" cy="672.6" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="255.6" cy="613.8" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="255.6" cy="555.1" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="255.6" cy="496.3" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="373.1" cy="496.3" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="255.6" cy="378.8" r="14.7" class="country" ng-style="group7" ng-mouseenter="group7 = { fill: '#9e2f50' }" ng-mouseleave="group7 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="255.6" cy="320.1" r="14.7" class="country" ng-style="group7" ng-mouseenter="group7 = { fill: '#9e2f50' }" ng-mouseleave="group7 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="255.6" cy="261.3" r="14.7" class="country" ng-style="group8" ng-mouseenter="group8 = { fill: '#9e2f50' }" ng-mouseleave="group8 = {}" ng-click="isGroup8()"/>
  <circle fill="#64605C" cx="314.4" cy="731.3" r="14.7" class="country" ng-style="group6" ng-mouseenter="group6 = { fill: '#9e2f50' }" ng-mouseleave="group6 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="314.4" cy="672.6" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="314.4" cy="790" r="14.7" class="country" ng-style="group8" ng-mouseenter="group8 = { fill: '#9e2f50' }" ng-mouseleave="group8 = {}" ng-click="isGroup8()"/>
  <circle fill="#64605C" cx="314.4" cy="613.8" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="314.4" cy="555.1" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="314.4" cy="496.3" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#908D8B" cx="314.4" cy="378.8" r="14.7" class="country" ng-style="group7" ng-mouseenter="group7 = { fill: '#9e2f50' }" ng-mouseleave="group7 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="314.4" cy="320.1" r="14.7" class="country" ng-style="group7" ng-mouseenter="group7 = { fill: '#9e2f50' }" ng-mouseleave="group7 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="314.4" cy="261.3" r="14.7" class="country" ng-style="group8" ng-mouseenter="group8 = { fill: '#9e2f50' }" ng-mouseleave="group8 = {}" ng-click="isGroup8()"/>
  <circle fill="#64605C" cx="314.4" cy="437.6" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <circle fill="#64605C" cx="255.6" cy="437.6" r="14.7" class="country" ng-style="group5" ng-mouseenter="group5 = { fill: '#9e2f50' }" ng-mouseleave="group5 = {}" ng-click="isGroupN()"/>
  <text transform="matrix(1 0 0 1 246.3617 1024.79)" fill="#64605C" font-family="'Metric-Semibold'" font-size="23.052">Council of Europe</text>
  <path fill="none" stroke="#64605C" stroke-width="3" stroke-miterlimit="10" d="M595.7,900.5v94.8c0,24.3-19.7,44.1-44.1,44.1H102
  	c-24.3,0-44.1-19.7-44.1-44.1v-94.8v-14.5V231.9v-56.4c0-24.3,19.7-44.1,44.1-44.1h449.6c24.3,0,44.1,19.7,44.1,44.1v56.4v654.1
  	V900.5z"/>
  <g>
  	<circle fill="#908D8B" cx="466.7" cy="935.5" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="413.9" cy="935.5" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="361.1" cy="935.5" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="308.3" cy="935.5" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="255.5" cy="935.5" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="202.7" cy="935.5" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="466.7" cy="978.2" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="413.9" cy="978.2" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="361.1" cy="978.2" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="308.3" cy="978.2" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="255.5" cy="978.2" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  	<circle fill="#908D8B" cx="202.7" cy="978.2" r="14.7" class="country" ng-style="group9" ng-mouseenter="group9 = { fill: '#9e2f50' }" ng-mouseleave="group9 = {}" ng-click="isGroupN()"/>
  </g>
  <g ng-if="quizOver" class="animate-if">
  <text transform="matrix(1 0 0 1 304.7924 266.9448)" font-family="'Metric-Regular'" font-size="14" class="country-name">UK</text>
  <text transform="matrix(1 0 0 1 350.6605 266.9448)" font-family="'Metric-Regular'" font-size="14" class="country-name">Romania</text>
  <text transform="matrix(1 0 0 1 233.5092 266.9448)" font-family="'Metric-Regular'" font-size="14" class="country-name">Bulgaria</text>
  <text transform="matrix(1 0 0 1 291.9056 324.0767)" font-family="'Metric-Regular'" font-size="14" class="country-name">Sweden</text>
  <text transform="matrix(1 0 0 1 355.4066 324.0767)" font-family="'Metric-Regular'" font-size="14" class="country-name">Poland</text>
  <text transform="matrix(1 0 0 1 231.2972 324.0767)" font-family="'Metric-Regular'" font-size="14" class="country-name">Denmark</text>
  <text transform="matrix(1 0 0 1 289.4623 381.209)" font-family="'Metric-Regular'" font-size="14" class="country-name">Hungary</text>
  <text transform="matrix(1 0 0 1 351.8363 381.209)" font-family="'Metric-Regular'" font-size="14" class="country-name">Slovakia</text>
  <text transform="matrix(1 0 0 1 239.4662 369.877)"><tspan x="0" y="0" font-family="'Metric-Regular'" font-size="14" class="country-name">Czech</tspan><tspan x="4.4" y="16.8" font-family="'Metric-Regular'" font-size="14" class="country-name">Rep.</tspan></text>
  <text transform="matrix(1 0 0 1 234.7611 438.3408)" font-family="'Metric-Regular'" font-size="14" class="country-name">Austria</text>
  <text transform="matrix(1 0 0 1 293.5375 438.3408)" font-family="'Metric-Regular'" font-size="14" class="country-name">Belgium</text>
  <text transform="matrix(1 0 0 1 137.5228 499.9316)" font-family="'Metric-Regular'" font-size="14" class="country-name">Monaco</text>
  <text transform="matrix(1 0 0 1 8.3861 493.9033)"><tspan x="0" y="0" font-family="'Metric-Regular'" font-size="14" class="country-name">Vatican</tspan><tspan x="9.7" y="16.8" font-family="'Metric-Regular'" font-size="14" class="country-name">City</tspan></text>
  <text transform="matrix(1 0 0 1 94.3441 493.9033)"><tspan x="0" y="0" font-family="'Metric-Regular'" font-size="14" class="country-name">San</tspan><tspan x="-8.8" y="16.8" font-family="'Metric-Regular'" font-size="14" class="country-name">Marino</tspan></text>
  <text transform="matrix(1 0 0 1 84.432 555.0576)" font-family="'Metric-Regular'" font-size="14" class="country-name">Andora</text>
  <text transform="matrix(1 0 0 1 83.0414 439.269)" font-family="'Metric-Regular'" font-size="14" class="country-name">Turkey</text>
  <text transform="matrix(1 0 0 1 235.9789 495.4727)" font-family="'Metric-Regular'" font-size="14" class="country-name">France</text>
  <text transform="matrix(1 0 0 1 290.9896 495.4727)" font-family="'Metric-Regular'" font-size="14" class="country-name">Germany</text>
  <text transform="matrix(1 0 0 1 354.2308 440.1919)" font-family="'Metric-Regular'" font-size="14" class="country-name">Finland</text>
  <text transform="matrix(1 0 0 1 294.4047 734.6992)" font-family="'Metric-Regular'" font-size="14" class="country-name">Ireland</text>
  <text transform="matrix(1 0 0 1 358.347 734.6992)" font-family="'Metric-Regular'" font-size="14" class="country-name">Cyprus</text>
  <text transform="matrix(1 0 0 1 295.0365 790.0498)" font-family="'Metric-Regular'" font-size="14" class="country-name">Croatia</text>
  <text transform="matrix(1 0 0 1 354.4359 496.3096)" font-family="'Metric-Regular'" font-size="14" class="country-name">Greece</text>
  <text transform="matrix(1 0 0 1 447.0306 496.3096)" font-family="'Metric-Regular'" font-size="14" class="country-name">Iceland</text>
  <text transform="matrix(1 0 0 1 456.5013 552.708)" font-family="'Metric-Regular'" font-size="14" class="country-name">Liechtenstein</text>
  <text transform="matrix(1 0 0 1 470.7972 446.9146)" font-family="'Metric-Regular'" font-size="14" class="country-name">Norway</text>
  <text transform="matrix(1 0 0 1 514.4691 496.3096)" font-family="'Metric-Regular'" font-size="14" class="country-name">Switzerland</text>
  <text transform="matrix(1 0 0 1 244.3461 558.457)" font-family="'Metric-Regular'" font-size="14" class="country-name">Lux.</text>
  <text transform="matrix(1 0 0 1 350.4447 558.457)" font-family="'Metric-Regular'" font-size="14" class="country-name">Portugal</text>
  <text transform="matrix(1 0 0 1 234.2142 675.8662)" font-family="'Metric-Regular'" font-size="14" class="country-name">Estonia</text>
  <text transform="matrix(1 0 0 1 239.1429 738.0693)" font-family="'Metric-Regular'" font-size="14" class="country-name">Malta</text>
  <text transform="matrix(1 0 0 1 351.514 675.8662)" font-family="'Metric-Regular'" font-size="14" class="country-name">Slovenia</text>
  <text transform="matrix(1 0 0 1 288.3314 675.8662)" font-family="'Metric-Regular'" font-size="14" class="country-name">Lithuania</text>
  <text transform="matrix(1 0 0 1 295.5199 559.8496)" font-family="'Metric-Regular'" font-size="14" class="country-name">Neth.</text>
  <text transform="matrix(1 0 0 1 240.7191 617.1787)" font-family="'Metric-Regular'" font-size="14" class="country-name">Spain</text>
  <text transform="matrix(1 0 0 1 304.0248 617.1787)" font-family="'Metric-Regular'" font-size="14" class="country-name">Italy</text>
  <text transform="matrix(1 0 0 1 357.3802 617.1787)" font-family="'Metric-Regular'" font-size="14" class="country-name">Latvia</text>

  <g>
  	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="727.5" y1="269.6" x2="746.7" y2="269.6"/>
  	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="727.5" y1="282.4" x2="746.7" y2="282.4"/>
  	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="727.5" y1="295.1" x2="746.7" y2="295.1"/>
  </g>
  <g>
  	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="708.5" y1="327.1" x2="708.5" y2="307.8"/>
  	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="721.2" y1="327.1" x2="721.2" y2="307.8"/>
  	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="734" y1="327.1" x2="734" y2="307.8"/>
  </g>
  </svg>

  <div ng-if="quizOver" class="animate-if">
    <h2>{{answeredHeading}}</h2>
    <p>
      Plus some copy, probably.
    </p>
  </div>
</div>
